html {
  height: 100%;
}
.rows{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around ;
  /* min-height: 100%; */
  margin: 0;
  background: #fff;
  font-family: -apple-system, 'Segoe UI', sans-serif;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.form{
  min-width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
h2 {
  margin: 0 0 1em;
  font-size: 20px;
}

.form-header {
  width: 100%;
 
}
.cell {
  min-height: 260px;
  width: 100%;
  padding: 20px;
  background: #f8f8f8;
  border: 1px solid rgba(0,0,0,.1);
  border-color: rgba(0,0,0,.05) rgba(0,0,0,.08) rgba(0,0,0,.1);
  border-radius: 3px;
  box-shadow: 0 3px 4px rgba(0,0,0,.05);
}
label {
  display: block;
  padding-bottom: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
.input {
  width: 100%;
  min-height: 150px;
  height: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  background: #fff;
  font: "Consolas";
}
.input:focus {
  outline: none;
  border-color: rgba(0,0,0,.3);
}
.form-field {
  margin-bottom: 10px;
}
.error, .errors-list {
  font-size: 14px;
  color: #C00;
}
.errors-list {
  margin: 0 0 1.5em;
  padding: 0 0 0 15px;
}
.form-field-invalid .input {
  border-color: #C00;
}
.form-actions {
  margin-top: 20px;
}
.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background: #66ccff;
  border: 1px solid rgba(0,0,0,.1);
  border-width: 1px 1px 3px;
  border-radius: 3px;
  font: inherit;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0,0,0,.3), 0 1px 1px rgba(0,0,0,.2);
}
.btn:hover,
.btn:focus {
  outline: none;
  background: #4dc3ff;
}
.btn:active {
  transform: translateY(1px);
}

